.StyleMixerViewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 20px;
}

.StyleMixerViewerDownload {
    text-decoration: none;
    margin: 0;
    padding: 1px 20px;
    background-color: var(--star-stroke);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.StyleMixerViewerDownload:hover {
    opacity: 0.75;
}

.StyleMixerViewerTitle {
    font-size: 24px;
    margin: 0;
}

.StyleMixerViewerError {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c9101065;
    border-radius: 8px;
    width: 150px;
    font-size: 18px;
    height: 150px
}