._img {
    display: flex;
    background-size: contain;
}

._img_open {
    cursor: pointer;
}

._img_open:hover {
    opacity: 0.9;
}

._img_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}