.StyleMixerPanelRedactors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding-top: 48px;
}

.StyleMixerPanel {
    width: auto;
    max-width: 100%;
}

.HStack {
    display: flex;
    flex-direction: row;
}

.VStack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SkeletonRedactorTitle {
    margin: 16px;
}

.SkeletonRedactorViews {
    background-color: var(--dark-bg);
}

.StyleMixerPanelHead {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 84px;
}


.StyleMixerPanelHead {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    place-items: center;
}

.StyleMixerPanelHeadCreator {
    grid-column: 2 / span 1;
}


.Card {
    grid-column: 1 / span 1;

    background-color: var(--light-bg);
    padding: 32px 16px;
    border-radius: 16px;
    border: 2px solid var(--border);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}