.StyleMixerPanelRedactors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding-top: 48px;
}

.StyleMixerPanel {
    width: auto;
    max-width: 100%;
}

.HStack {
    display: flex;
    flex-direction: row;
}

.VStack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SkeletonRedactorTitle {
    margin: 16px;
}

.SkeletonRedactorViews {
    background-color: var(--dark-bg);
}